@import './../style/Variables.scss';

.buttonsContainer{
    display: flex;
}
.loginButtonContainer, .registrationButtonContainer{
    flex: 1;
    height: 4rem;
    
}
.loginButtonContainer button, .registrationButtonContainer button{
    width: 9rem;
    height: 2rem;
    border: none;
    outline: none;
    background-color: $buttonBackground;
    margin: 0.5rem 0;
    font-size: $buttonFontSize;
    cursor: pointer;
}
.loginButtonContainerUnderline{
    display: block;
    height: 0.25px;
    width: 9rem;
    background-color: $buttonBackground;
    border: 1px solid $buttonBackground;
    margin: auto;
}
.registrationButtonContainerUnderline{
    display: block;
    height: 0.25px;
    width: 9rem;
    background-color: $buttonBackground;
    border: 1px solid $buttonBackground;
    margin: auto;
}
