@import '../scss/Variables.scss';

.Container{
    width: 100%;
    height: 100%;
}
.Container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.InputContainer{
    width: 85%;
}
.InputContainerB{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
}
.InputContainerB label{
    background-color: $buttonBackground;
    font-size: $buttonFontSize;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}
.InputContainerInner{
    display: flex;
    width: 100%;
}
.InputContainerInner div{
    width: 2rem;
    height: 2rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.InputContainerInner div img{
    width: 50%;
    height: 50%;
}

.InputContainerInner input{
    font-size: $inputFontSize;
    border: none;
    outline: none;
    height: 2rem;
    width: 100%;
    flex: 1;
}

.buttonContainer button{
    width: 9rem;
    height: 2rem;
    border: none;
    outline: none;
    background-color: $buttonBackground;
    margin: 2rem 0;
    font-size: $buttonFontSize;
    cursor: pointer;
}

.forgotPasswordLabel{
    font-style: italic;
    cursor: pointer;
}